.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 30%;

  background-color: white;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.img_container {
  width: 50px;
  height: 50px;
}

.img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.disclaimer h4 {
  color: gray;
  font-weight: lighter;
  font-style: italic;
}

.disclaimer p {
  text-align: end;
  color: black;
}

@media (max-width: 768px) {
  .disclaimer h4 {
    font-size: 16px;
  }

  .disclaimer p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .disclaimer h4 {
    font-size: 12px;
  }

  .disclaimer p {
    font-size: 12px;
  }
}
