.section_hero {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(41, 179, 99, 255);
  color: white;
}

.heading {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .section_hero p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .btn_container {
    font-size: 18px;
  }

  .section_hero p {
    font-size: 12px;
  }
}
